@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Home</PageTitle>
<br/>
<br/>

<ul>
@if (inventorires is not null && inventorires.Count > 0)
{
    foreach(var inv in inventorires)
    {
        <li>
            @inv.InventoryName
        </li>
    }
}
</ul>

@code {
    private List<Inventory>? inventorires;
    protected override async Task OnInitializedAsync()
    {
        inventorires = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}
