@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (inventorires is not null && inventorires.Count > 0)
        {
            foreach (var inv in inventorires)
            {
                <InventoryListItemComponent Inventory="inv"></InventoryListItemComponent>
            }
        }
    </tbody>
</table>

@code {
    private List<Inventory>? inventorires;
    protected override async Task OnInitializedAsync()
    {
        inventorires = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}
